extends ./navigation.pug
block content
  h2 Danh Sách Sinh Viên
  form.mt-5(action="/search",method = "GET",class="d-flex",style="width : 300px")
    //- input(id="inputText" type="text",name ="name",class="form-control",style="width : 250px")
    select.custom-select.mr-sm-2(name="malop",required)
      option(value='') Lớp . . .
      each lop in lops
        option(value=lop.MALOP)= lop.TENLOP
    button(class="btn btn-primary ml-2") Search
  if(currentLop)
    p
      span
        b Lop : 
      span= currentLop.TENLOP
  table.table
      tr  
        th MASV
        th Ho
        th Ten
        th MaLop
        th(style ="text-align:center") Action
      each student in students
        tr
          td= student.MASV
          td= student.HO
          td= student.TEN
          td= student.MALOP
          td(style="text-align:center")
                  a.btn.btn-primary(href="#") View
                  a.btn.btn-primary.ml-2.btnOpenDialog(href="/update/"+student.MASV) Edit