extends ./navigation.pug
block content
  h2 Nhập Điểm Sinh Viên
  form.mt-5(action="/diem/nhapdiem/search",method = "GET",class="d-flex",style="width : 500px")
    //- input(id="inputText" type="text",name ="name",class="form-control",style="width : 250px")
    select.custom-select.mr-sm-2(name="malop",required)
      option(value='') Lop . . .
      each lop in lops
        option(value=lop.MALOP)= lop.TENLOP
    select.custom-select.mr-sm-2(name="mamonhoc",required)
      option(value='') MonHoc . . .
      each monhoc in monhocs
        option(value=monhoc.MAMH)= monhoc.TENMH
    button(class="btn btn-primary ml-2") Search
  if(currentInfo)
    p
      span
        b Lop : 
      span.mr-5= currentInfo.lop
      span
        b Monhoc : 
      span= currentInfo.monhoc
  if(students)
    table.table
      tr  
        th MASV
        th Ho
        th Ten
        th MaLop
        th(style ="text-align:center") Action
      each student in students
        tr
          td= student.MASV
          td= student.HO
          td= student.TEN
          td= student.MALOP
          td(style="text-align:center")
                  a.btn.btn-primary.mr-2(href="/diem/nhapdiem/"+student.MASV) Nhập Điểm